body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    border-radius: 4px;
}

.display {
    display: flex;
    justify-content: center;    
}

.row {
    padding: 2px;
    display: flex;
}
